/node_modules/
*.log
.vscode
coverage/
.idea/
.vscode/launch.json
hs-inventoryapp.log
yarn-error.log
.vs/
.sonar_lock
*.txt
transpiledLib
dist_lib
dist
*.log.*
.nyc_output/
package-lock.json
yarn.lock

# local config files
conf/env/local.yml
*.DS_Store
*.rdb
/cash-backup/
*.iml
